.todos {
  display: flex;
  justify-content: center;
}

p {
  padding-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo__title {
  margin-right: 10px;
}