/* DEFAULT STYLING ALWAYS */
*, *::before, *::after {
  box-sizing: border-box;
}

body { 
  margin: 0;
}
/* END DEFAULT */

.App {
  text-align: center;
}

.component {
  border-bottom: 1px solid;
  padding: 20px;
}